
<div class="navbar navbar-default navbar-fixed-bottom" style="position:relative;top:900px;">
    <div class="container">
        <p class="navbar-text pull-left">Copyrightⓒ2017 Korea Electro technology Research Institute  | @Resources.Langues.DistributedPowerDesignSoftwareHomepage </p>
    </div>
</div>