@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Langues.LockedOut;
}

<hgroup>
    <h1 class="text-danger text-center">@Resources.Langues.LockedOut</h1>
    <h2 class="text-danger text-center">@Resources.Langues.AccountTryAgain</h2>
</hgroup>
