@{
    ViewBag.Title = Resources.Langues.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Langues.YourPasswordHasBeenReset. @Resources.Langues.Please @Html.ActionLink(Resources.Langues.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
