@model int[]

<tr class="paraSubRow">
    <td class="col-xs-6 text-center">
        @Model[0]
    </td>
    <td class="hidden">
        @Html.Hidden("ListWTPowergenSubs[" + Model[1] + "].WindSpeed", Model[0], new
   {
       @disabled = "disabled",
       @data_val = "true",
       @class = "loadInput form-control",
       @data_val_number = "The field WindSpeed must be a number.",
       @data_val_range = "Invalid Target Price; Max 8 digits",
       @data_val_range_max = "999999.99",
       @data_val_range_min = "0",
       @data_val_regex = "Invalid Target Price; Maximum Two Decimal Points.",
       @data_val_regex_pattern = @"^\d+(\.\d{1,2})?$",
       @data_val_required = "The WindSpeed field is required.",
       @style = "text-align:right;",
       @type = "tel"
   })
    </td>
    <td class="col-xs-6">
        @Html.TextBox("ListWTPowergenSubs[" + Model[1] + "].Output", "", new
   {
       @data_val = "true",
       @data_val_number = "The field Output must be a number.",
       @data_val_range = "Invalid Target Price; Max 8 digits",
       @data_val_range_max = "999999.99",
       @data_val_range_min = "0",
       @data_val_regex = "Invalid Target Price; Maximum Two Decimal Points.",
       @data_val_regex_pattern = @"^\d+(\.\d{1,2})?$",
       @data_val_required = "The Output field is required.",
       @style = "text-align:right;",
       @class= "form-control",
       @type = "tel"
   })
    </td>

</tr>

