@{
    ViewBag.Title = "E00024SubView";
    Layout = "~/Areas/Mobile/Views/Shared/MobileLayout.cshtml";
}

<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-1 active" style="text-align:left"> @Resources.Langues.SearchOption </label>
            <div class="col-sm-8">
                <label class="radio-inline" style="margin-right:9%"><input type="radio" name="optradio" value="w" checked>@Resources.Langues.WorkingDay</label>
                <label class="radio-inline" style="margin-right:9%"><input type="radio" name="optradio" value="sat">@Resources.Langues.Saturday</label>
                <label class="radio-inline" style="margin-right:9%"><input type="radio" name="optradio" value="sun">@Resources.Langues.Holiday</label>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    @(Html.Kendo().Chart<DPDSP.Models.I00010EssPatternViewModel>
        ()
        .Name("chart")
        .Title("")
        .DataSource(dataSource => dataSource
        .Read(read => read.Action("GetI00010EssPattern", "MyCase", new { area = "Case", id = 0, cate = "w" }))
        .Group(group => group.Add(model => model.EssPattMonth))
        .Sort(sort => sort.Add(model => model.EssPattHour).Ascending())
        )
        .ChartArea(chartArea => chartArea
        //.Width(1288)
        .Background("transparent")
        )
        .SeriesDefaults(seriesDefaults =>
        seriesDefaults.Line()
        )
        .Series(series =>
        {
        series.Line(model => model.PcsValue).Name("#= group.items[0].MonthString # ").CategoryField("EssPattHour").Markers(x => x.Visible(false));
        })
        .SeriesColors("#e8a1a2", "#264d7e", "#bbc9a5", "#698b47", "#3e4630", "#428b64", "#6e4a75", "#feec04", "#9e7339", "#4c4a3c", "#dd7b00", "#dd3420")
        .ValueAxis(axis => axis.Numeric()
        .Line(line => line.Visible(false))
        .Labels(label => label.Format("{0:#,###}"))
        .AxisCrossingValue(0, int.MinValue)
        )
        .CategoryAxis(axis => axis
        .Labels(false)
        .Line(line => line.Visible(false))
        )
        .CategoryAxis(axis => axis
        .Categories(model => model.EssPattHour)
        .Line(line => line.Visible(false))
        )
        .Legend(legend => legend
        .Position(ChartLegendPosition.Right)
        )
        .Tooltip(tooltip => tooltip
        .Visible(true)
        .Format("{0}")
        )
        //.HtmlAttributes(new { style = "width: 100%; " })
        )
</div>
<br />
<div>
    @(Html.Kendo().Grid<DPDSP.Models.I00001iSmartGridModel>
        ()
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(member => member.Hour).Title(Resources.Langues.Time).HtmlAttributes(new { style = "text-align:center;" });
        columns.Bound(member => member.Jan).HtmlAttributes(new { style = "text-align:right;" }).Title(Resources.Langues.Jan1 + "<br />[kWh]").Format("{0:n1}");
        columns.Bound(member => member.Feb).Title(Resources.Langues.Feb1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Mar).Title(Resources.Langues.Mar1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Apr).Title(Resources.Langues.Apr1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.May).Title(Resources.Langues.May1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Jun).Title(Resources.Langues.Jun1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Jul).Title(Resources.Langues.Jul1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Aug).Title(Resources.Langues.Aug1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Sep).Title(Resources.Langues.Sep1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Oct).Title(Resources.Langues.Oct1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Nov).Title(Resources.Langues.Nov1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        columns.Bound(member => member.Dec).Title(Resources.Langues.Dec1 + "<br />[kWh]").HtmlAttributes(new { style = "text-align:right;" }).Format("{0:n1}");
        })
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(i00001iSmartGridModel => i00001iSmartGridModel.Hour))
        .Read(read => read.Action("GetGrid", "MyCase", new { area = "Case", id = 0, cate = "w" }))
        )
        .HtmlAttributes(new { style = "width:100%;" })
        )
</div>